/*#region Colors */

$background: #F7F9FC;
$backgroundSoft: rgba(247, 249, 252, 0.8);
$primarySoft: #D4DBFC;
$primary: #2940D3;
$grey: #82868C;
$white: #FFFFFF;
$black: #3A3C40;
$greySoft: #F5F5F7;
$error: #F1416C;

/*#endregion*/