@import "../../styles/colors.scss";

/*#region Menu Component Codes*/

%menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    li {
        position: relative;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        color: $grey;
        transition: color 0.3s ease;

        &:hover {
            color: $primary;
        }

        &.active {
            color: $primary;

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -3.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0.25rem;
            border-radius: 1rem;
            background-color: $primary;
            transition: width 0.3s ease;
        }
    }
}

/*#endregion*/